
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.image-area img {
    width: 100%;
    height: auto;
    border-radius: 175px 0 90px 2px;
}

.details {
    margin-top: 10px;
    text-align: center;
    color: #555;
}